

.navbar {
    margin-bottom: 0;
}

.margin-top{
    margin-top: 2rem;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 50rem;
}

.album {

    /* Can be removed; just added for demo purposes */

    height: -webkit-fill-available;
    background-color: #fff;
}

.card {
    float: left;
    width: 33.333%;
    margin-bottom: 2rem;
    border: 0;
}


.card-name{
    padding: .5em;
    text-align: center;
    background-color: grey;
    color: #fff;
    margin-bottom: 0rem;
}


.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid #e4e4e4;
    bottom: 0;
    background-color: #F2F2F2;
    position: static;
    color: rgba(0,0,0,.54);
    width: 100%;

}

footer p {
    margin-bottom: .25rem;
}



.sites {
    padding-top: 3rem;
    color: inherit;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
}

.sites a {
    color: inherit;
    font-size: 1.3rem;
    background: black;
    border-radius: 4px;
    width: 188px;
    height: 120px;
    margin: 1rem;
    line-height: 120px;
    text-align: center;
    color: #4584ee;
    box-sizing: border-box;
    display: block;
    vertical-align: middle;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.28);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-appearance: none;
}

.sites a:hover,
.sites a:focus,
.sites a:active {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}

.sites a span:nth-child(1) {
    font-family: Material-Icons;
    padding-right: 0;
    font-size: 55px;
}

.sites a span#title {
    opacity: 0;
    position: absolute;
    font-size: 16px;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    transition: all ease-in-out 150ms;
    position: absolute;
    top: 77px;
    left: 0;
    color: #bbb;
    width: 188px;
    height: 1rem;
    text-align: center;
    text-shadow: none;
}

.sites a:hover span#title {
    opacity: 1;
}

.sites a img {
    width: 55px;
}

.sites a:nth-child(3n) {
    page-break-after: always;
}

.sites a:hover,
.sites a:focus,
.sites a:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    text-decoration: none;
    color: #4584ee;
}
