/* App */

.js-list {
	height: 100%;
    margin-bottom: 60px;
}

.list-inline {
	float: right;
}

.list-inline>li {
	display: inline-block;
	float: left;
}

.margin-bottom {
	margin-bottom: 30px;
}

.margin-top {
	margin-top: 2%;
}

.app {
	position: relative;
	display: block;
	border-bottom: 2.5rem solid;
	text-decoration: none;
	height: 100%;
}

.app__wrapper {
	padding-top: 62.5%;
}
.margin-right{
	margin-right: 20px !important;
}
.app__title {
	position: absolute;
	right: 0;
	bottom: -2.5rem;
	left: 0;
	overflow: hidden;
	margin: 0;
	padding-top: 0.55rem;
	padding-bottom: 0.55rem;
	height: 2.5rem;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	font: 1.4rem/1 Permanent Marker, sans-serif;
}

/* Action */

.app:hover,
.app:focus {
	outline: none;
	color: transparent;
}

.app:hover .app__title,
.app:focus .app__title {
	height: 2.5rem;
	background: #5ac1f2;
}