/* List */

.list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.list__item {}

/* Media */

@media (min-width: 30em) {
	.list__item {}
}

@media (min-width: 48em) {
	.list__item {}
}

/* Filter */

[data-tags] {
	display: none !important;
}

[data-filter=all] [data-tags],
[data-filter=app] [data-tags~=app],
[data-filter=business] [data-tags~=business],
[data-filter=event] [data-tags~=event],
[data-filter=game] [data-tags~=game],
[data-filter=news] [data-tags~=news],
[data-filter=other] [data-tags~=other],
[data-filter=shopping] [data-tags~=shopping],
[data-filter=social] [data-tags~=social],
[data-filter=tool] [data-tags~=tool] {
	display: block !important;
}