/* Tags */

.tags {
	padding: 0.8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tags__label {
	margin: 0.2rem;
	padding: 0.4rem 0.8rem;
	color: #383838;
	transition: box-shadow 0.1s linear;
}

/* Action */

.tags__radio:hover+.tags__label,
.tags__radio:focus+.tags__label {
	cursor: pointer;
	color: #383838;
	border-bottom: #383838 1px solid;
}

.tags__radio:checked+.tags__label {}