/* Tags */

.tags {
	padding: 0.8em;
	display: flex;
	flex-wrap: wrap;
	background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	justify-content: center;
}

.tags__label {
	margin: 0.2rem;
	padding: 0.4rem 0.8rem;
	color: #383838;
	transition: box-shadow 0.1s linear;
}

/* Action */

.tags__radio:hover+.tags__label,
.tags__radio:focus+.tags__label {
	cursor: pointer;
	color: #383838;
	border-bottom: #383838 1px solid;
}

.tags__radio:checked+.tags__label {}